@model CMSManagementConsole.Models.ComplaintFullView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="confirm" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Complaint Details (@Html.DisplayFor(model => model.Dated))</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <td><strong>Id</strong></td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                        <td><strong>Category</strong></td>
                        <td>@Html.DisplayFor(model => model.Category)</td>
                    </tr>
                    <tr>
                        <td><strong>District</strong></td>
                        <td>@Html.DisplayFor(model => model.District)</td>
                        <td><strong>SDC</strong></td>
                        <td>@Html.DisplayFor(model => model.SDC)</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td colspan="3">@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr class="success">
                        <td colspan="4">
                            <strong class="pull-left"><i>Complainant Information</i></strong>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>@Html.DisplayFor(model => model.Complainant)</td>
                        <td><strong>NIC</strong></td>
                        <td>@Html.DisplayFor(model => model.ComplainantNIC)</td>
                    </tr>
                    <tr>
                        <td><strong>Mobile</strong></td>
                        <td>@Html.DisplayFor(model => model.ComplainantMobile)</td>
                        <td><strong>Address</strong></td>
                        <td>@Html.DisplayFor(model => model.ComplainantAddress)</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("View Uploaded Documents", "Upload", new { id = Model.Id }, new { @class = "btn btn-primary" })
                <button data-dismiss="modal" type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
</div>
